body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 16px;
    font-size: 20px;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    background-color: #acb2b7;
}

